.main {
  background-color: #1B2024;
  /* height: 50px; */
}

.wings {
  color: #fff;
  font-weight: 400;
}

.wingsRov {
  display: flex;
}

.spanText {
  color: #566A47;
}

.wings h3 {
  font-size: 48px;
}

.wingsBlock {
  position: relative;
}

.wingsBlock img {
  height: 100%;
  width: 100%;
}

.wingsBlockText {
  font-size: 48px;
  line-height: 67px;
  max-width: 380px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wingsInfo {
  font-size: 40px;
}

.wingsBlockButton {
  font-size: 36px;
}