.about {
  background-color: var(--black);
  position: relative;
}

.about-wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
}

.about-title {
  color: var(--white);
  font-family: var(--bold-font-family);
  font-size: var(--h2-font-size);
  line-height: var(--h2-line-height);
  font-weight: 400;
}

.about-content-wrapper {
  display: flex;
  flex-direction: row-reverse;
  gap: 143px;
  margin-top: 100px;
  overflow: hidden;
}

.about-image {
  float: right;
}

.about-text {
  color: var(--white);
  font-family: var(--thin-font-family);
  font-size: var(--body-1-font-size);
  line-height: var(--body-1-line-height);
  font-weight: 400;
  text-align: start;
  z-index: 1;
  position: relative;
}

.background-image {
  position: absolute;
  top: 400px;
}

@media (max-width: 1680px) {
  .about-title {
    font-size: 48px;
    line-height: var(--h2-line-height);
  }

  .about-content-wrapper {
    display: block;
  }

  .about-image {
    width: 260px;
    height: 320px;
    float: right;
    margin-left: 30px;
  }

  .about-text {
    font-size: 24px;
    line-height: 26px;
  }

  .background-image {
    position: absolute;
    top: 400px;
  }
}

@media (max-width: 1024px) {
  .about-title {
    font-size: 36px;
    line-height: var(--h2-line-height);
  }

  .about-content-wrapper {
    display: block;
  }

  .about-image {
    width: 260px;
    height: 320px;
    float: right;
    margin-left: 30px;
  }

  .about-text {
    font-size: 20px;
    line-height: 26px;
  }

  .background-image {
    position: absolute;
    top: 400px;
  }
}

@media (max-width: 768px) {
  .about-wrapper {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .about-title {
    font-size: 28px;
    line-height: 33px;
  }

  .about-content-wrapper {
    display: block;
    margin-top: 50px;
  }

  .about-image {
    width: 180px;
    height: 211px;
    margin-left: 15px;
    margin-top: 42px;
  }

  .about-text {
    font-size: 16px;
    line-height: 22px;
  }

  .background-image {
    height: 400px;
  }
}

@media (max-width: 419px) {
  .about-wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .about-title {
    font-size: 20px;
    line-height: 24px;
  }

  .about-content-wrapper {
    display: block;
    margin-top: 50px;
  }

  .about-image {
    width: 130px;
    height: 152px;
    margin-left: 5px;
    margin-top: 2px;
  }

  .about-text {
    font-size: 14px;
    line-height: 20px;
  }

  .background-image {
    height: 400px;
    top: 200px;
  }
}

@media (max-width: 320px) {
  .about-title {
    font-size: var(--body-1-font-size);
  }
}
