.backfire {
  position: relative;
  background-color: var(--black);
  z-index: 4;
}

.backfire-background-image {
  position: absolute;
  top: 38%;
  right: 0;
  z-index: 1;
}

.backfire-title {
  margin-bottom: 100px;
}

.backfire-title,
.backfire-content-benefits-banner-title {
  color: var(--white);
  font-family: var(--bold-font-family);
  font-size: var(--h2-font-size);
  line-height: var(--h2-line-height);
  font-weight: 400;
}

.backfire-content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  z-index: 6;
}

.backfire-content-examples {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-basis: 57%;
  width: 100%;
}

.backfire-content-example {
  display: flex;
  align-items: center;
  width: 100%;
}

.backfire-content-example-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2.5rem;
  width: auto;
  height: auto;
}

.backfire-content-example-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/img/backfire/frame.png");
  background-repeat: no-repeat;
  background-position: bottom;
  width: 11.75rem;
  height: 11.75rem;
}

.backfire-content-example-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  background-size: contain;
}

.backfire-content-example-image-title {
  color: var(--white);
  font-family: var(--thin-font-family);
  font-size: var(--body-2-font-size);
  text-align: left;
  max-width: 150px;
  margin-left: 30px;
  font-weight: 400;
}

.backfire-content-benefits {
  display: flex;
  flex-direction: column;
  padding-bottom: 153px;
  z-index: 3;
}

.backfire-content-benefits-banner {
  display: flex;
  align-items: baseline;
  height: fit-content;
  background-color: var(--main-green);
  padding: 2.25rem 2.438rem;
}

.backfire-content-benefits-banner-title {
  text-align: left;
  display: inline-flex;
}

.backfire-content-benefits-list {
  display: flex;
  flex-direction: column;
  gap: 4.688rem;
  align-items: flex-start;
  margin-top: 40px;
}

.backfire-content-benefits-list-item {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 30px;
}

.backfire-content-benefits-list-item-icon {
  position: relative;
  background-image: url("../../assets/img/backfire/sight-frame.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 80px;
  min-width: 80px;
}

.backfire-content-benefits-list-item-count {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  color: var(--main-green);
  font-family: var(--thin-font-family);
  font-size: var(--body-1-font-size);
  line-height: var(--body-2-line-height);
  font-weight: 400;
}

.backfire-content-benefits-list-item-title,
.backfire-content-benefits-list-item-text {
  color: var(--white);
  font-family: var(--thin-font-family);
  font-weight: 400;
  text-align: left;
}

.backfire-content-benefits-list-item-title {
  font-size: var(--h5-font-size);
  text-transform: uppercase;
}

.backfire-content-benefits-list-item-text {
  font-size: var(--body-2-font-size);
  margin-top: 7px;
}

@media screen and (min-width: 1280px) and (max-width: 1680px) {
  .backfire-content {
    flex-direction: row;
  }
}

@media screen and (max-width: 1024px) {
  .backfire-content {
    flex-direction: column;
  }

  .backfire-content-examples {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 20px;
  }

  .backfire-content-example {
    flex-direction: column;
  }

  .backfire-background-image {
    top: 50%;
  }

  .backfire-content-example-image {
    max-width: 7rem;
    max-height: auto;
  }

  .backfire-content-example-image-title {
    margin-top: 10px;
    text-align: center;
    max-width: 140px;
    margin-left: 0;
  }

  .backfire-content-benefits-banner {
    width: 75%;
  }

  .backfire-content-benefits-banner-title {
    font-size: var(--h4-font-size);
  }

  .backfire-content-example-image-wrapper {
    width: 10rem;
    height: 10rem;
    background-size: contain;
  }

  .backfire-content-examples {
    margin: 0;
  }

  .backfire-content-benefits-list-item-title {
    font-size: var(--body-1-font-size);
  }

  .backfire-content-benefits-list-item-text {
    font-size: 20px;
    max-width: 559px;
  }

  .backfire-content-benefits-banner-title {
    font-size: var(--h4-font-size);
  }
}

/* @media screen and (min-width: 768px) and (max-width: 1023px) {
  .backfire-content {
    flex-direction: column;
  }
} */

@media screen and (max-width: 768px) {
  .backfire-title {
    font-size: var(--h4-font-size);
  }
  .backfire-content {
    flex-direction: column;
  }

  .backfire-content-examples {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 41px;
    margin: 0 20px;
  }

  .backfire-content-example {
    flex-direction: column;
  }

  .backfire-content-example-image-title {
    margin-top: 10px;
    text-align: center;
    font-size: var(--body-2-font-size);
    max-width: 140px;
    margin-left: 0;
  }

  .backfire-content-benefits-banner {
    width: 100%;
    padding: 36px 10px 36px 10px;
  }

  .backfire-content-benefits-banner-title {
    font-size: var(--h4-font-size);
  }

  .backfire-content-examples {
    margin: 0;
  }

  .backfire-content-benefits-list-item-title {
    font-size: var(--body-1-font-size);
  }

  .backfire-content-benefits-list-item-text {
    font-size: 20px;
  }

  .backfire-content-benefits-banner-title {
    font-size: var(--h4-font-size);
  }
}

@media screen and (max-width: 420px) {
  .backfire-title {
    font-size: 28px;
    margin-bottom: 50px;
  }
  .backfire-content {
    flex-direction: column;
  }

  .backfire-content-example-wrapper {
    margin: 0;
  }

  .backfire-content-examples {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 41px;
    margin: 0 20px;
    padding-bottom: 80px;
  }

  .backfire-content-example {
    flex-direction: row;
  }

  .backfire-background-image {
    top: 80%;
    width: 260px;
    height: auto;
  }

  .backfire-content-example-image-title {
    margin-top: 10px;
    text-align: left;
    font-size: 20px;
    max-width: 140px;
    margin-left: 30px;
  }

  .backfire-content-benefits-banner {
    width: 100%;
    padding: 20px 10px 20px 10px;
  }

  .backfire-content-benefits-banner-title {
    font-size: var(--body-1-font-size);
    line-height: 130%;
  }

  .backfire-content-examples {
    margin: 0;
  }

  .backfire-content-benefits {
    padding-bottom: 80px;
  }

  .backfire-content-benefits-list {
    /* display: flex;
    flex-direction: column;
    gap: 4.688rem;
    align-items: flex-start; */
    margin-top: 40px;
    gap: 2.5rem;
  }

  .backfire-content-benefits-list-item-title {
    font-size: var(--body-2-font-size);
  }

  .backfire-content-benefits-list-item-text {
    font-size: 16px;
  }
}

@media screen and (max-width: 320px) {
  .backfire-title {
    font-size: var(--body-1-font-size);
    margin-bottom: 30px;
  }
  .backfire-content {
    flex-direction: column;
  }

  .backfire-content-example-wrapper {
    margin: 0;
    width: auto;
    height: 150px;
  }

  .backfire-content-examples {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0 20px;
    padding-bottom: 80px;
  }

  .backfire-content-example {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .backfire-background-image {
    top: 80%;
    width: 260px;
    height: auto;
  }

  .backfire-content-example-image-wrapper {
    width: 130px;
    height: 130px;
    background-size: contain;
  }

  .backfire-content-example-image {
    width: 75px;
  }

  .backfire-content-example-image-title {
    margin-top: 10px;
    text-align: left;
    font-size: 16px;
    width: 100px;
    /* max-width: 140px;
    margin-left: 30px; */
  }

  .backfire-content-benefits-banner {
    width: 100%;
    padding: 20px 10px 20px 10px;
  }

  .backfire-content-benefits-banner-title {
    font-size: 16px;
    line-height: 130%;
  }

  .backfire-content-examples {
    margin: 0;
  }

  .backfire-content-benefits {
    padding-bottom: 80px;
  }

  .backfire-content-benefits-list {
    /* display: flex;
    flex-direction: column;
    gap: 4.688rem;
    align-items: flex-start; */
    margin-top: 40px;
    gap: 2.5rem;
  }

  .backfire-content-benefits-list-item-title {
    font-size: var(--body-2-font-size);
  }

  .backfire-content-benefits-list-item-text {
    font-size: 14px;
  }

  .backfire-content-benefits-list-item-icon {
    height: 50px;
    min-width: 50px;
  }

  .backfire-content-benefits-list-item-count {
    font-size: var(--body-2-font-size);
  }
}
