.footer {
  background-color: var(--black);
  padding: 130px 0;
  flex: 1;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-social-icons {
  display: flex;
  column-gap: 30px;
  margin-bottom: 50px;
}

.footer-copyright {
  font-family: var(--thin-font-family);
  font-size: var(--body-1-font-size);
  font-weight: 400;
  line-height: var(--body-1-line-height);
  color: var(--white);
}