:root {
  --main-green: #566a47;
  --black: #1b2024;
  --white: #ffffff;
  --dark-green: #2d362e;
  --grey: #d9d9d9;

  --bold-font-family: "Russo One", sans-serif;
  --thin-font-family: "Roboto Flex", sans-serif;
  --button-dark-default: #566a47;
  --button-dark-hover: #d9d9d9;
  --button-dark-pressing: #ffffff;
  --button-light-default: #ffffff;
  --buttton-light-hover: #d9d9d9;
  --button-light-pressing: #566a47;
  --button-header-default: #ffffff;
  --button-header-hover: #d9d9d9;
  --button-header-pressing: #566a47;

  --h1-font-size: 60px;
  --h1-line-height: 78px;
  --h2-font-size: 48px;
  --h2-line-height: 58px;
  --h3-font-size: 40px;
  --h3-line-height: 48px;
  --h4-font-size: 36px;
  --h4-line-height: 43px;
  --h5-font-size: 32px;
  --h5-line-height: 38px;

  --body-1-font-size: 24px;
  --body-1-line-height: 31px;
  --body-2-font-size: 18px;
  --body-2-line-height: 31px;
}
