@charset "UTF-8";

@import url("common.css");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&family=Russo+One&display=swap");

body {
  background-color: peachpuff;
}

html {
  scroll-behavior: smooth;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul,
input,
textarea {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}
